/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;

    --font-size-content: 1.8rem;

    /// Grosseur des textes
    --font-size-h1: #{typo(45px, 100px)};
    --font-size-h2: #{typo(45px, 100px)};
    --font-size-h3: #{typo(45px, 100px)};
}
